<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Camer-artisan - Dashboard</title>


  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-secondaryy sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand-->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" (click)="dashboard()">
        <!--  <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>-->
        <div class="sidebar-brand-text mx-3">Camer-artisan</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" (click)="dashboard()">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading
      <div class="sidebar-heading">
        Interface
      </div>-->


      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUn" aria-expanded="false" aria-controls="collapseUn">
          <i class="fas fa-fw fa-cog"></i>
          <span>Métier</span>
        </a>
        <div id="collapseUn" class="collapse multi-collapse" aria-labelledby="headingUn" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <!--<h6 class="collapse-header">Custom Comp:</h6>-->
            <button (click)="ajouterMetier()" class="collapse-item" >Ajouter métier</button>
            <button (click)="listingMetier()" class="collapse-item" >Listing métier</button>
          </div>
        </div>
      </li>

       <!-- Nav Item - Pages Collapse Menu -->
       <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Prestation</span>
        </a>
        <div id="collapseTwo" class="collapse multi-collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <!--<h6 class="collapse-header">Custom Comp:</h6>-->
            <button (click)="ajouterMetier()" class="collapse-item" >Ajouter prestation</button>
            <button (click)="listingMetier()" class="collapse-item" >Listing prestation</button>
          </div>
        </div>
      </li>




      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
         <!-- Topbar -->
         <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form> -->

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>



            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <!--<span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>-->
                <img class="img-profile rounded-circle" src="assets/img/camerartisan.png">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
               <!--- <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Paramètres
                </a>   <div class="dropdown-divider"></div>-->


                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Déconnexion
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->
      <!-- Main Content -->
      <div id="content">
     <!-- Main content -->
<section class="content" >
  <div class="container-fluid">
    <div class="card  text-dark bg-light">
    <form>
      <div class="form-row">
        <div class="col">
          <label for="validationDefault01">Menu</label>
          <input type="text"  [(ngModel)]="menu" [ngModelOptions]="{standalone: true}" class="form-control" id="validationDefault01" placeholder="Ajouter un menu" value="menu" required>
        </div>

        <div class="col">
          <label for="validationDefault03">Sous menu</label>
          <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <input type="text" class="form-control" name="sous menu" placeholder="Sous menu" #taskInput>
                </div>&nbsp;&nbsp;

                <div class="col-xs-6">
                    <button class="btn btn-info" (click)="addTask(taskInput)">Ajouter</button>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-striped">

                        <tbody>
                            <tr *ngFor="let task of tasks; let idx = index">
                                <td *ngIf="task.is_canceled; else elseTd">
                                    <s>{{ idx + 1 }}. {{task.title}}</s>
                                </td>
                                <ng-template #elseTd>
                                    <td>{{ idx + 1 }}. {{task.title}}</td>
                                </ng-template>

                                <td>
                                    <button class="btn btn-primary btn-xs" (click)="editTask(idx)"> Edit </button>
                                </td>

                                <td>
                                    <button class="btn btn-warning btn-xs" (click)="cancelTask(idx)"> annuler </button>
                                </td>
                                <td>
                                    <button class="btn btn-danger btn-xs" (click)="deleteTask(idx)"> Supprimer </button>
                                </td>
                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>
         </div>

        </div>


      </div>

      <button (click)="enregistrer()" class="btn btn-primary" type="submit">Enregister</button>
    </form>
    </div>


    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>


      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; camer-artisan 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Prêt a nous quitter?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Sélectionnez "Déconnexion" ci-dessous si vous êtes prêt à mettre fin à votre session en cours.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
          <button class="btn btn-primary" (click)="logout()">Déconnexion </button>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="default"
  type="ball-spin-clockwise"
>
  <p style="color: white;">Enregistrement en cours.Merci de patienter.</p>
</ngx-spinner>
</body>

</html>
<router-outlet></router-outlet>









